<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<head>
  {{ partial "docs/html-head" . }}
  {{ partial "docs/inject/head" . }}
</head>

<body>
  <input type="checkbox" class="hidden" id="menu-control" />
  <main class="flex container">

    <aside class="book-menu fixed">
      {{ partial "docs/menu" . }}
    </aside>
    <div class="book-page">
    <div class="404">
        <h1>Something's wrong.</h1>
        <p>The page you are looking for is not here.<br><br>Maybe you could <a href="{{ $.Site.Params.BookRepo }}">write it?</a></p>
    </div>    	
      {{ partial "docs/mobile-header" . }}
      {{ partial "docs/git-footer" . }}
      {{ partial "docs/inject/footer" . }}
    </div>
  </main>
  {{ partial "docs/inject/body" . }}
</body>

</html>

