.pieTitleText {
  text-anchor: middle;
  font-size: 18px;
  fill: $taskTextDarkColor;
  font-family: et-book,Palatino,palatino linotype,palatino lt std,book antiqua,Georgia,"serif!important";
}

.slice {
	font-family: roboto,sans-serif;
	font-weight: 400;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}


